description = "Admin layout"

==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - {{ this.page.title }}</title>

    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="nj">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
    {% styles %}
    <!-- Global stylesheets -->
    <link href="{{ [
            'https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900',
            'assets/admin/css/icons/icomoon/styles.css',
            'assets/admin/css/bootstrap.css',
            'assets/admin/css/core.css',
            'assets/admin/css/components.css',
            'assets/admin/css/colors.css',
            'assets/dropzone.css'
        ]|theme }}" rel="stylesheet">
    <!-- /global stylesheets -->

    <!-- Scripts -->
    <script src="{{ [
            'assets/js/jquery.js',
            'assets/js/bootstrap.min.js'
        ]|theme }}"></script>

    <!-- Core JS files -->
    <script src="{{ [
            'assets/admin/js/plugins/loaders/pace.min.js',
            'assets/admin/js/plugins/loaders/blockui.min.js',
            'assets/admin/js/core/app.js',
            'assets/admin/js/pages/dashboard.js',
            'assets/admin/js/core/libraries/jquery.min.js',
            'assets/admin/js/core/libraries/bootstrap.min.js',
            'assets/dropzone.js',
            'assets/js/js.js'
        ]|theme }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{{ [
            'assets/admin/js/plugins/forms/styling/switchery.min.js',
            'assets/admin/js/plugins/forms/styling/uniform.min.js',
            'assets/admin/js/plugins/forms/selects/bootstrap_multiselect.js',
            'assets/admin/js/plugins/ui/moment/moment.min.js',
            'assets/admin/js/plugins/pickers/daterangepicker.js',
            'assets/admin/js/plugins/visualization/d3/d3.min.js',
            'assets/admin/js/plugins/visualization/d3/d3_tooltip.js'
        ]|theme }}"></script>
    <!-- /theme JS files -->

</head>
<body>
{% if not user %}
{% else %}
<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ 'account'|page }}"><img src="{{ 'assets/admin/images/logo_light.png'|theme }}" alt=""></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-git-compare"></i>
                                <span class="visible-xs-inline-block position-right">Git updates</span>
                                <span class="badge bg-warning-400">9</span>
                            </a>

                            <div class="dropdown-menu dropdown-content">
                                <div class="dropdown-content-heading">
                                    Git updates
                                    <ul class="icons-list">
                                        <li><a href="#"><i class="icon-sync"></i></a></li>
                                    </ul>
                                </div>

                                <ul class="media-list dropdown-content-body width-350">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                        </div>

                                        <div class="media-body">
                                            Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                            <div class="media-annotation">4 minutes ago</div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                                        </div>

                                        <div class="media-body">
                                            Add full font overrides for popovers and tooltips
                                            <div class="media-annotation">36 minutes ago</div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                                        </div>

                                        <div class="media-body">
                                            <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                            <div class="media-annotation">2 hours ago</div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                                        </div>

                                        <div class="media-body">
                                            <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                            <div class="media-annotation">Dec 18, 18:36</div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                        </div>

                                        <div class="media-body">
                                            Have Carousel ignore keyboard events
                                            <div class="media-annotation">Dec 12, 05:46</div>
                                        </div>
                                    </li>
                                </ul>

                                <div class="dropdown-content-footer">
                                    <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                                </div>
                            </div>
                        </li>
                        -->
        </ul>

        {% if user %}
            <p class="navbar-text"><span class="label bg-success-400">Online</span></p>
        {% else %}
            <p class="navbar-text"><span class="label bg-warning-400">Offline</span></p>
        {% endif %}

        {% for role in user.groups() %}
        {% if role.code == 'clients' %}
            {% if user.a_plan == 1 %}
                <p class="navbar-text">SELECT A PLAN BELOW : <span class="label label-info">FREE (50 IMAGE FOR FREE)</span></p>
            {% elseif user.a_plan == 2 %}
                <p class="navbar-text">SELECT A PLAN BELOW : <span class="badge bg-warning-400">BASIC RETOUCHING CREATIVE EDITION</span></p>
            {% elseif user.a_plan == 3 %}
                <p class="navbar-text">SELECT A PLAN BELOW : <span class="badge bg-warning-400">IMAGE SELECTION</span></p>
            {% elseif user.a_plan == 4 %}
                <p class="navbar-text">SELECT A PLAN BELOW : <span class="badge bg-warning-400">CUSTOM COLOR CORRECTION</span></p>
            {% endif %}
        {% else %}
        {% endif %}
        {% endfor %}

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch">

                {% if user %}
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ 'assets/admin/images/flags/gb.png'|theme }}" class="position-left" alt="">
                    English
                    <!--<span class="caret"></span>-->
                </a>
                {% endif %}
    <!--
                <ul class="dropdown-menu">
                    <li><a class="deutsch"><img src="{{ 'assets/admin/images/flags/de.png'|theme }}" alt=""> Deutsch</a></li>
                    <li><a class="ukrainian"><img src="{{ 'assets/admin/images/flags/ua.png'|theme }}" alt=""> Українська</a></li>
                    <li><a class="english"><img src="{{ 'assets/admin/images/flags/gb.png'|theme }}" alt=""> English</a></li>
                    <li><a class="espana"><img src="{{ 'assets/admin/images/flags/es.png'|theme }}" alt=""> España</a></li>
                    <li><a class="russian"><img src="{{ 'assets/admin/images/flags/ru.png'|theme }}" alt=""> Русский</a></li>
                </ul>
    -->
            </li>
            {% if user %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-people"></i>
                    <span class="visible-xs-inline-block position-right">Users</span>
                </a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        Users online
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-gear"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body width-300">


                        {% for userAllOnly in user.getAllUsers() %}

                            <li class="media">
                                <div class="media-left"><img src="{{ userAllOnly.getAvatarThumb() }}" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">{{ userAllOnly.name }} {{ userAllOnly.surname }}</a>
                                    <span class="display-block text-muted text-size-small">{{ userAllOnly.email }} </span>
                                </div>
                                {% if userAllOnly.isOnline() %}
                                    <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                                {% else %}
                                    <div class="media-right media-middle"><span class="status-mark border-danger"></span></div>
                                {% endif %}
                            </li>

                        {% endfor %}



                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="{{ 'account/users'|page }}" data-popup="tooltip" title="All users"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bubbles4"></i>
                    <span class="visible-xs-inline-block position-right">Messages</span>

                    <span class="badge bg-warning-400">new</span>

                </a>



                <div class="dropdown-menu dropdown-content width-350">
                    <div class="dropdown-content-heading">
                        Messages
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-compose"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body">

                    {% for info in user.getAllUsers() %}
                        {% if info.message_upload == "" %}
                        {% else %}
                        <li class="media">
                            <div class="media-left">
                                <img src="{{ 'assets/admin/images/placeholder.jpg'|theme }}" class="img-circle img-sm" alt="">
                                {% if info.message_upload == "" %}
                                <span class="badge bg-danger-400 media-badge"></span>
                                {% else %}
                                <span class="badge bg-danger-400 media-badge">1</span>
                                {% endif %}
                            </div>

                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">{{ info.name }} {{ info.email }}</span>
                                    <span class="media-annotation pull-right">{{ info.last_login }}</span>
                                </a>

                                <span class="text-muted">{{ info.message_upload }}</span>
                            </div>
                        </li>
                        {% endif %}

                    {% endfor %}


                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
            {% endif %}

            {% if user.name %}
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ user.getAvatarThumb() }}" alt="">
                        <span>{{ user.name }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="disabled"><a href="#"><span class="badge bg-teal-400 pull-right">1</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                        <li class="divider"></li>
                        {% if user %}
                            <li><a href="scripts:void();" data-request="onLogout" data-request-data="redirect: '/'"><i class="icon-switch2"></i> Logout</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% else %}
            <li class="dropdown dropdown-user">

                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ 'assets/admin/images/placeholder.jpg'|theme }}" alt="">
                    <span>Nobody is logged in</span>
                </a>

            </li>
            {% endif %}


        </ul>
    </div>
</div>
<!-- /main navbar -->
{% endif %}


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

{% if user %}
	<!-- Main sidebar -->
<div class="sidebar sidebar-main">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="{{ user.getAvatarThumb() }}" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">{{ user.name }}</span>
                        <div class="text-size-mini text-muted">
                            <i class="glyphicon glyphicon-envelope text-size-small"></i> &nbsp;{{ user.email }}
                        </div>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <a href="#"><i class="icon-cog3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li class="active"><a href="{{ 'account'|page }}"><i class="icon-home4"></i> <span>HOME</span></a></li>
                    <li>
                        <a href="#"><i class="icon-stack2"></i> <span>Files</span></a>
                        <ul>
                            <li><a href="scripts:void();">Files all</a></l
                            <li class="navigation-divider"></li>
                            <li><a href="scripts:void();">test</a></li>
                        </ul>
                    </li>



                            <li class="disabled"><a href="scripts:void();"><i class="glyphicon glyphicon-comment"></i> <span>Messages <span class="label bg-blue-400">1</span></span></a></li>


                    <li>
                        <a
                                href="javascript:;"
                                onclick="$('#accountUpdateForm').toggle()"><i class="glyphicon glyphicon glyphicon-pencil"></i>
                            <span>Update account</span>
                        </a>
                    </li>

                    <li>
                        <a
                                href="javascript:;"
                                onclick="$('#accountDeactivateForm').toggle()"><i class="glyphicon glyphicon-circle-arrow-down"></i>
                            <span>Deactivate account</span>
                        </a>
                    </li>

                    <li>
                        <a
                                href="javascript:;"
                                onclick="$('#upload').toggle()"><i class="glyphicon glyphicon glyphicon-download-alt"></i>
                            <span>Upload file</span>
                        </a>
                    </li>


                    <!-- /main -->

                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>

<!-- /main sidebar -->
{% else %}

{% endif %}


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                {% if not user %}
                {% else %}
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Account</h4>
                    </div>
                    <!--
                        <div class="heading-elements">
                            <div class="heading-btn-group">
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                            </div>
                        </div>
                    -->
                </div>
                {% endif %}
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="{{ '/' }}"><i class="icon-home2 position-left"></i> Home</a></li>
                        <li class="active">Account</li>
                    </ul>
                    <!--
                        <ul class="breadcrumb-elements">
                            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    Settings
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                </ul>
                            </li>
                        </ul>
                    -->
                </div>
            </div>
            <!-- /page header -->


            <!-- Main content -->
            <div class="content">

                <!-- Input group addons -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title"></h5>
                    </div>

                    <div class="panel-body">
                        <div class="form-horizontal">

                            {% page %}                                  <!-- INCLUDE TEMPLATE PAGE -->

                        </div>
                    </div>
                </div>
                <!-- /input group addons -->




            </div>



        </div>

        <!-- Scripts -->
        <script src="{{ [
            'assets/js/jquery.js',
            'assets/js/bootstrap.min.js'
        ]|theme }}"></script>

        {% framework extras %}
        {% framework %}
        {% scripts %}


    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

</body>
</html>