==
<!--

<div class="row NEWSLETTERSIGN-UP" style="margin-right: 0px;  margin-left: 0px; border: 0;">

    <form method="POST" action="">

        <div class="col-xs-hidden col-lg-2" > </div>
        <div class="col-xs-12 col-lg-3" style="padding-top: 15px;">
            <p class="NEWSLETTER"> NEWSLETTER <span class="SIGN-UP"> SIGN-UP </span> </p>
        </div>
        <div class="col-xs-12 col-lg-3"  style="padding-top: 8px; outline: none;">
            <input type="text" name="email" class="form-control NEWSLETTER_form_control" placeholder="Enter your E-mail..." autocomplete="off">
        </div>
        <div class="col-xs-12 col-lg-2" style="padding-top: 15px;">
            <a href="#" id="NEWSLETTER_LINK"><span>&nbsp; &nbsp; </span>SUBSCRIBE<span>&nbsp; &nbsp; &nbsp;</span></a>

        </div>
        <div class="col-xs-hidden col-lg-2"> </div>

    </form>

</div>

-->